@import 'breakpoint';
$gold: #fc3;
$gold-light: #ffde7a;
$gray-lighter: #f0efee;
$gray-medium: #777677;
$maroon-light: #900021;
$white: #fff;
$callout-break: max-width 50em;
$accent-border: 4px solid $gold;
$font-stack-georgia: Georgia, Times, 'Times New Roman', serif;
$small-screen: 30em !default;
