// Callouts: Folwell Theme Component
@import "includes";

%callout-h1 {
  font-size: 2em;
  font-weight: 700;
  @include breakpoint($callout-break) {
    font-size: 1.777777778em;
  }
}

%callout-h2 {
  font-size: 1.5625em;
  font-weight: 600;
  line-height: 1.512;
  margin: 1.6em 0 1em;
  @include breakpoint($callout-break) {
    font-size: 1.388888889em;
  }
}

%callout-h3 {
  font-size: 1.375em;
  font-weight: 600;
  @include breakpoint($callout-break) {
    font-size: 1.222222222em;
  }
}

// Base Callout Content
.callout,
.callout-overlay,
.callout-horizontal,
.callout-image {
  h5,
  h4,
  h3,
  h2,
  h1 {
    a {
      border-bottom: 0;
    }
  }

  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    &:first-child {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  ul:last-child {
    margin-bottom: 0;
  }
}

.callout,
.callout-horizontal,
.callout-image {
  h1 {
    @extend %callout-h1;
  }

  h2 {
    @extend %callout-h2;
  }

  h3 {
    @extend %callout-h3;
  }
}

.callout {
  padding: 1.25em;
  margin-bottom: 1em;

  &:first-child {
    margin-top: 0;

    @include breakpoint($callout-break) {
      margin-top: 30px;
    }
  }
}

.callout-horizontal {
  display: block;
  background: $gold-light;

  @include breakpoint($callout-break) {
    display: flex;
    flex-direction: row-reverse;

    & > div {
      flex: 1;
    }
  }
}

.callout-image,
.callout-horizontal {
  article {
    margin: 0;
  }
}

.callout-border-all {
  @include accent-border();
}

.callout-border-top {
  @include accent-border(top);
}

.callout-border-left {
  @include accent-border(left);
}

.callout-background {
  background-color: $gray-lighter;
}

/* Specific callout overlay styles */
.callout-overlay {
  padding: 1.1em;
  position: absolute;

  h1 {
    @extend %callout-h2;
  }

  h2 {
    @extend %callout-h3;
  }

  &.display-100 {
    bottom: 0;
  }

  &.top-right,
  &.top-left {
    top: 2em;
  }

  &.bottom-right,
  &.bottom-left {
    bottom: 2em;
  }

  &.top-right,
  &.bottom-right {
    right: 2em;
  }

  &.top-left,
  &.bottom-left {
    left: 2em;
  }

  @include breakpoint(max-width $callout-break) {
    position: relative;
    top: 0;
    width: 100% !important;
    left: 0;
    margin-bottom: 1em !important;
  }
}

.callout-image {
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  & + .callout {
    margin-top: 0;
  }
}
