// Callouts: Folwell Theme Component
@import "includes";

// Base Callout Content
.callout,
.callout-overlay,
.callout-horizontal,
.callout-image {
  h5,
  h4,
  h3,
  h2,
  h1 {
    a {
      border-bottom: 0;
    }
  }

  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    &:first-child {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  ul:last-child {
    margin-bottom: 0;
  }
}

.callout {
  padding: 1.25em;
  margin-bottom: 1em;

  &:first-child {
    margin-top: 0;

    @include breakpoint($callout-break) {
      margin-top: 30px;
    }
  }
}

.callout-border-all {
  @include accent-border();
}

.callout-border-top {
  @include accent-border(top);
}

.callout-border-left {
  @include accent-border(left);
}

.callout-background {
  background-color: $gray-lighter;
}

.callout-gold {
  background-color: $gold-light;
  a:hover {
    background-color: $white;
  }
}

.callout-horizontal {
  display: block;
  @extend .callout-gold;

  @include breakpoint($callout-break) {
    display: flex;
    flex-direction: row-reverse;

    .field--name-field-fw-callout-image {
      flex: 0 0 auto;
      width: 60%;
    }
    .callout {
      flex: 1 1 auto;
    }
  }
}

.callout-maroon {
  background-color: $maroon;
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  p,
  div {
    color: $white;
  }
  a {
    color: $gold-light;
    border-bottom: 1px solid $gold-light;
    &:visited {
      color: $gray-light;
    }
    &:hover {
      background-color: $white;
      color: $maroon-light;
      border-bottom: 1px solid $white;
    }
    &:focus {
      color: $gray-darker;
    }
  }
}

.callout-image,
.callout-horizontal {
  article {
    margin: 0;
  }
}

/* Specific callout overlay styles */
.callout-overlay {
  @extend .callout-gold;
  padding: 1.1em;
  margin-bottom: 1em;
  width: 100%;

  @include breakpoint($callout-break) {
    position: absolute;

    &.display-100 {
      bottom: 0;
    }

    &.top-right,
    &.top-left {
      top: 2em;
    }

    &.bottom-right,
    &.bottom-left {
      bottom: 2em;
    }

    &.top-right,
    &.bottom-right {
      right: 2em;
    }

    &.top-left,
    &.bottom-left {
      left: 2em;
    }
  }
}

.callout-image {
  margin-bottom: 1em;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  & + .callout {
    margin-top: 0;
  }
}

.paragraph--type--folwell-callout {
  position: relative;
}

.callout-hmaroon {
  @extend .callout-horizontal;
  @extend .callout-maroon;
}

.callout-omaroon {
  @extend .callout-overlay;
  @extend .callout-maroon;
}
