//Pullquote and Blockquote: Folwell Theme Component
@import 'includes';

aside.pullquote {
  border-style: solid;
  border-width: 0;
  border-bottom: 0;
  border-top: 6px solid $gold;
  color: $maroon-light;
  display: block;
  float: right;
  font-size: 1.9em;
  font-weight: 400;
  line-height: 1.5em;
  margin: 1em 1em 1.3em;
  padding: 1.3em 1em 0 1em;
  position: relative;

  &:before {
    background: $white;
    color: $gold;
    content: '\201C';
    font-family: $font-stack-georgia;
    font-size: 5em;
    height: 4rem;
    left: 50%;
    line-height: 1.08em;
    position: absolute;
    text-align: center;
    top: -17px;
    transform: translate(-50%, -50%);
    width: 8rem;
  }

  .pullquote-content {
    margin: 0;
  }

  cite {
    display: block;
    font-style: italic;
    font-size: 18px;
    line-height: 40px;
    margin-top: 1em;
    color: $gray-medium;
  }

  &.display-100 {
    float: none;
    width: auto;
  }

  @include breakpoint(max-width $small-screen) {
    margin: 1em 0 !important;
    line-height: 1.2em;
  }
}
