// Slideshow: Folwell Theme Component
@import "includes";

/* Slick styles */
.slick--optionset--folwell-slideshow {
  position: relative;
  .slick-slider {
    margin-bottom: 2em;
  }
  .field--name-field-fa-accordion-item-header {
    font-size: 1.388888889em;
    line-height: 1.52;
    margin: 0 0 1em;
  }
  .slick-dots {
    bottom: unset;
    margin-top: 0.5em;
    margin-left: 0;
    padding-top: 1em;
    width: 100%;

    li button:before {
      font-size: 12px;
    }
  }

  .slick__arrow {
    //no arrows on mobile
    display: none;

    @include breakpoint(60em) {
      bottom: auto;
      display: block;
      top: 50%;

      button {
        background: $gray-dark;
        border-radius: 5%;
        height: 40px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 40px;

        &:hover,
        &:focus {
          background: $gray-medium;
        }

        &:focus {
          outline: auto;
          outline-color: $blue;
        }

        &.slick-next:before,
        &.slick-prev:before {
          @include font-awesome(32px);
          color: $white;
          display: block;
          font-weight: 600;
          opacity: 1;
          padding-right: 3px;
          text-align: center;
        }

        &.slick-prev {
          left: -25px;

          &:before {
            content: "\f104";
          }
        }

        &.slick-next {
          right: -25px;

          &:before {
            content: "\f105";
          }
        }
      }
    }
  }

  //img {
  //  margin: 0 auto;
  //}
  //
  //.slick-dotted.slick-slider{
  //  margin-bottom: 0;
  //}
  //
  //.slick-slider{
  //  ul.slick-dots {
  //    bottom: unset;
  //    position: relative;
  //
  //    li button{
  //      display: block;
  //    }
  //  }
  //
  //  .slick__slide{
  //    background: transparent;
  //
  //    figure + p {
  //      display: none;
  //    }
  //
  //    figure figcaption {
  //      background: map-get($folwell-palette, white);
  //      margin: 0;
  //      padding: 1em;
  //    }
  //  }
  //}
  //
  //nav.slick__arrow {
  //  //no arrows on mobile
  //  display:none;
  //
  //  @include breakpoint(60em) {
  //    bottom: auto;
  //    display: block;
  //    top: 50%;
  //
  //    button {
  //      background: map-get($folwell-dark-palette, gray-dark);
  //      border-radius: 5%;
  //      height: 40px;
  //      position: absolute;
  //      text-align: center;
  //      top: 50%;
  //      width: 40px;
  //
  //      &:hover, &:focus{
  //        background: map-get($folwell-dark-palette, gray-medium);
  //      }
  //
  //      &:focus{
  //        outline: auto;
  //        outline-color: map-get($folwell-dark-palette, blue);
  //      }
  //
  //      .slick-next:before,
  //      .slick-prev:before {
  //        @include font-awesome(32px);
  //        color: map-get($folwell-palette, white);
  //        display: block;
  //        font-weight: 600;
  //        opacity: 1;
  //        padding-right: 3px;
  //        text-align: center;
  //      }
  //
  //      .slick-prev {
  //        left: -25px;
  //
  //        &:before {
  //          content: "\f104";
  //        }
  //      }
  //
  //      .slick-next {
  //        right: -25px;
  //
  //        &:before {
  //          content: "\f105";
  //        }
  //      }
  //    }
  //  }
  //}
}

//slideshow carousel
//div.paragraph-slideshow {
//  padding: 0;
//  background: map-get($folwell-palette, white);
//  box-shadow: 0 2px 2px 0 transparentize(map-get($folwell-dark-palette, black), .84), 0 0 0 1px transparentize(map-get($folwell-dark-palette, black), .92);
//  height: 100%;
//  margin: 0;
//  margin: 1.5em auto;
//  max-width: 70ch;
//  padding: 1em;
//
//  > div {
//    margin: 0;
//    padding: 0;
//
//    div.img {
//      background: map-get($folwell-palette, gray-lighter);
//      text-align: center;
//      width: 100%;
//
//      img {
//        margin: 0 auto;
//      }
//    }
//
//    div.caption > p {
//      margin-bottom: .5em;
//    }
//  }
//
//  button.slick-next:before,
//  button.slick-prev:before {
//    color: map-get($folwell-dark-palette, maroon);
//  }
//
//  //mode dots inside the carousel
//  ul.slick-dots {
//    bottom: unset;
//    margin-top: .5em;
//    position: relative;
//  }
//}
//
//.slick-container {
//  background: map-get($folwell-palette, gold-light);
//  display: flex;
//
//  & > div:first-of-type {
//    width: 60%;
//  }
//}
//
//.slick-caption {
//  padding: 2em 2em 1em;
//  width: 40%;
//
//  h1,
//  h2,
//  h3,
//  h4,
//  h5 {
//    &:first-child {
//      margin-top: 0;
//    }
//  }
//}
//
//ul.slick-dots li {
//  margin-top: -1em;
//}
//
//.slick-dots {
//  margin-top: -4%;
//  margin-left: 60%;
//  width: 40%;
//  padding-top: 1em;
//
//  li button:before {
//    font-size: 12px;
//  }
//}
//
//@media screen and (max-width: 800px) {
//  .slick-container {
//    display: block !important;
//  }
//
//  .slick nav.slick__arrow {
//    top: 40%;
//    bottom: auto;
//    display: block;
//  }
//
//  .slick-dots {
//    margin-top: .5em;
//    margin-left: 0;
//    padding-top: 1em;
//    width: 100%
//  }
//
//  .slick-container > div:first-of-type,
//  .slick-caption {
//    width: 100%;
//  }
//}
//
//div#full-width-slideshow {
//  ul.slick-dots {
//    margin-top: 0;
//    width: 100%;
//    margin-left: 0;
//  }
//
//  nav.slick__arrow {
//    top: 45%;
//  }
//}
.layout--folwell-slider {
  display: block;
  width: 100%;
  img {
    width: 100%;
  }
  .layout__region {
    width: 100%;
  }
  .layout__region--right {
    padding: 2em 2em 1em;
    #layout-builder & {
      padding: unset;
    }
  }
  @include breakpoint($callout-break) {
    display: flex;
    padding: 0;
    .layout__region--left {
      flex: 0 1 60%;
    }
    .layout__region--right {
      flex: 0 1 40%;
    }
  }
}
.paragraph--type--folwell-slideshow {

  .slick {
    width: 100%;
  }
  .slick__slide {
    background-color: $gold-light;
  }
  div,
  article,
  img {
    margin: 0;
  }
  img {
    display: block;
  }

  .folwell-slideshow-header .field--name-field-fa-accordion-item-header {
    margin: 0;
  }

  @include breakpoint($callout-break) {
    .slick-dots {
      position: relative;
      margin-top: -4%;
      margin-left: 60%;
      width: 40%;
      padding: 1em 0 0;
    }
  }


}
.paragraph--type--folwell-overlay-slideshow {
  aside {
    margin:0;
    width: 100%;
    @include breakpoint($callout-break) {
      &.display-33 {
        width: calc(33% - 2em);
      }
    }
  }
  @include breakpoint($callout-break) {
    .field--name-field-fw-callout-image article {
      margin-bottom: 0;
    }

    aside {
      position: absolute;
      top: 2em;
      float: none;
      &.align-right {
        right: 2em;
      }
      &.align-left {
        left: 2em;
      }
    }
  }

  .slick-dots {
    position: relative;
    margin-top: 0;
  }
}

//.slick-dots li button:before {
//  font-size: 12px;
//}
