{% extends  "paragraph.html.twig" %}

{% block paragraph %}

    <figure{{ attributes.addClass(classes).addClass(display_class) }}>
        {% block content %}
            {{ content.field_folwell_image_item }}
            {% if content.field_fa_text_item_body or content.field_fa_accordion_item_header %}
            <figcaption>
                {{ content.field_fa_text_item_body }}
                {% if content.field_fa_accordion_item_header %}
                <div class="photo-credit">{{ content.field_fa_accordion_item_header }}</div>
                {% endif %}
            </figcaption>
            {% endif %}
        {% endblock content %}
    </figure>
{% endblock paragraph %}
