{% extends  "paragraph--folwell-callout.html.twig" %}
{% set container_attr = create_attribute() %}
{% set overlay_styles = [
    'callout-overlay',
    'display-33',
    content.field_fw_callout_position.0|e('html_attr'),
    content.field_fw_callout_background.0|e('html_attr')
] %}

{% block content %}
    {{ content.field_fw_callout_image }}
    <div{{ container_attr.addClass(overlay_styles) }}>
        <header class="callout-header"><h1>{{ content.field_fa_accordion_item_header.0 }}</h1></header>
        {{ content.field_fa_text_item_body }}
    </div>
{% endblock %}