{% extends  "paragraph.html.twig" %}
{% set container_attr = create_attribute() %}
{% set callout_styles = [
    'callout',
    (style_class == 'callout-horizontal' or style_class == 'callout-hmaroon') ? '' : style_class|clean_class
] %}
{% set overlay_styles = [
    'top-left',
    'display-33'
] %}
{% if style_class == 'callout-overlay' or style_class == 'callout-omaroon' %}
    {% set callout_styles = callout_styles|merge(overlay_styles) %}
{% endif %}
{% set parent_styles = [
    'callout-image',
    style_class == 'callout-horizontal' or style_class == 'callout-hmaroon' ? style_class|clean_class : ''
] %}
{% block paragraph %}
    {% set classes = classes|merge(parent_styles) %}
    <aside{{ attributes.addClass(classes) }}>
        {% block content %}
            {{ content.field_fw_callout_image }}
            {% if content.field_fa_text_item_body|render %}
                <div{{ container_attr.addClass(callout_styles) }}>
                    {{ content.field_fa_text_item_body }}
                </div>
            {% endif %}
        {% endblock %}
    </aside>
{% endblock paragraph %}
